target/
.classpath
.project
.settings/

# We use pom.xml as the source of truth and don't rely on a specific IDE
.idea
*.iml

README_OLD.md
.openapi-generator/
conf/daner-face-search-environment.yaml
conf/daner-face-search-local.yaml
setup_project.sh

# We use FaceSearchImpl as the bridge and only use DanerFaceSearchApiServiceImpl to copy-paste from
src/main/java/dk/kb/facesearch/api/v1/impl/DanerFaceSearchApiServiceImpl.java
src/main/java/dk/kb/facesearch/api/devel/impl/DanerFaceSearchApiServiceImpl.java
